<div class="container">
  <div class="left-panel">
    <form>
      <div class="title-content">
        <h3>質問フォーム</h3>
        <label
          ><input type="checkbox" (change)="toggleCheckbox('question')" />
          質問</label
        >
        <label
          ><input type="checkbox" (change)="toggleCheckbox('error')" />
          エラー質問</label
        >
        <label
          ><input type="checkbox" (change)="toggleCheckbox('variableName')" />
          変数名の提案</label
        >
        <label
          ><input type="checkbox" (change)="toggleCheckbox('refactor')" />
          リファクタ</label
        >
      </div>
      <textarea
        [(ngModel)]="mainQuestion"
        name="mainQuestion"
        rows="8"
      ></textarea>

      <div>
        @for (field of fields(); track field.id) {
        <div class="field">
          <div class="field-header">
            <button
              class="toggle-btn"
              type="button"
              [class.active]="field.expanded"
              (click)="toggleField(field)"
            >
              {{ field.expanded ? "▲" : "▼" }}
            </button>
            <input
              [value]="field.title"
              (input)="handleFieldChange($event, field.id, 'title')"
              name="field-title"
              type="text"
              placeholder="タイトル"
            />
            <div class="header-buttons">
              <button type="button" (click)="moveFieldUp(field)">▲</button>
              <button type="button" (click)="moveFieldDown(field)">▼</button>
              <button
                type="button"
                (click)="removeField(field)"
                class="delete-btn"
              >
                削除
              </button>
            </div>
          </div>
          @if (field.expanded) {
          <div class="field-content">
            <textarea
              [value]="field.content"
              (input)="handleFieldChange($event, field.id, 'content')"
              name="field-content"
              rows="8"
              placeholder="内容"
            ></textarea>
          </div>
          }
        </div>
        }
      </div>

      <button type="button" (click)="addField()">追加</button>
    </form>
  </div>

  <div class="right-panel">
    <button
      (click)="copyToClipboard()"
      class="copy-btn"
      [class.success]="copySuccess()"
    >
      {{ copySuccess() ? "コピペ成功" : "コピペ" }}
    </button>
    <div id="output">
      <div [innerHTML]="mainQuestionOutputForDisplay()"></div>
      <div [innerHTML]="fieldsOutputForDisplay()"></div>
    </div>
    <button
      (click)="copyToClipboard()"
      class="fixed-copy-btn"
      [class.success]="copySuccess()"
    >
      {{ copySuccess() ? "コピペ成功" : "コピペ" }}
    </button>
  </div>
</div>
